<!DOCTYPE html>
<html>

<head>
    <title>Edward Deakin</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="css/index.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://kit.fontawesome.com/b855b973a7.js" crossorigin="anonymous"></script>
    <script src="scripts/modal.js"></script>
    <script src="scripts/time.js"></script>
</head>

<body>
    <section class="section">
        <div class="container">
            <h1 class="title has-text-centered is-size-1-desktop is-size-1-mobile">
                Edward Deakin
            </h1>
            <p class="subtitle has-text-centered is-size-3-desktop is-size-3-mobile">
                JavaScript Developer<br>DevRel at Zerops
            </p>
            <p id="current-time" class="subtitle has-text-centered is-size-3-desktop is-size-3-mobile">Loading Time...
            </p>
            <div class="buttons is-centered">
                <a class="button is-primary is-medium is-responsive" href="/pdfs/EdwardDeakin'sCV.pdf" target="_blank">
                    <strong><i class="fa-solid fa-file-arrow-down"></i>&nbsp;&nbsp;Download CV</strong>
                </a>
            </div>
            <div class="buttons is-centered">
                <a class="button is-light is-medium is-responsive" href="https://twitter.com/EdwardDeakin1"
                    target="_blank">
                    <i class="fa-brands fa-x-twitter"></i>
                </a>
                <a class="button is-light is-medium is-responsive" href="https://discord.com/users/361479100004564995"
                    target="_blank">
                    <i class="fa-brands fa-discord"></i>
                </a>
                <a class="button is-light is-medium is-responsive" href="https://github.com/Edward-Deakin"
                    target="_blank">
                    <i class="fa-brands fa-github"></i>
                </a>
                <a class="button is-light is-medium is-responsive" href="mailto:deakinedward53@outlook.com">
                    <i class="fa-solid fa-envelope"></i>
                </a>
            </div>
            <div class="buttons is-centered">
                <a class="button is-danger is-medium is-responsive" href="https://platformpredict.edeakin.xyz/"
                    target="_blank">
                    <strong><i class="fa-solid fa-train"></i>&nbsp;&nbsp;My New Project: PlatformPredict</strong>
                </a>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="box">
                <h1 class="title  is-size-2-desktop is-size-2-mobile">About Me</h1>
                <div class="box">
                    <p1 class="subtitle is-size-4-desktop is-size-4-mobile">
                        Hello! My name is Edward Deakin.<br>
                        I am 15 years old and I live in <a href="https://en.wikipedia.org/wiki/Warwickshire"
                            target="_blank">Warwickshire, England</a>.<br>
                        I have had a keen interest in all things technological since a very young age.<br>
                        This was developed further after being introduced to advanced coding (<a
                            href="https://dotnet.microsoft.com/en-us/apps/aspnet" target="_blank">ASP.NET</a> in
                        a <a href="https://visualstudio.microsoft.com/" target="_blank">Visual Studio</a> environment)
                        by an older <a href="https://sg.linkedin.com/in/harry-conor-lucas" target="_blank">relative</a>.
                    </p1>
                </div>
            </div>
        </div>
        <br>
        <div class="container">
            <div class="box">
                <h1 class="title  is-size-2-desktop is-size-2-mobile">Skills</h1>
                <div class="box">
                    <p1 class="subtitle is-size-4-desktop is-size-4-mobile">
                        <li>Two years experience with <a href="https://nodejs.org/en" target="_blank">Node.JS</a>
                            projects and environments</li>
                        <li>One year experience with <a href="https://www.python.org/" target="_blank">Python</a>
                            projects, classwork and <a
                                href="https://www.raspberrypi.com/products/raspberry-pi-pico/">Raspberry Pi Pico</a>
                            micro-controllers</li>
                        <li>Expertise in developing interactional bots using the Discord API</li>
                        <li>Experience with navigating and developing with Linux infrastructures</li>
                    </p1>
                </div>
            </div>
        </div>
        <br>
        <div class="container">
            <div class="box">
                <h1 class="title  is-size-2-desktop is-size-2-mobile">Achievements</h1>
                <div class="box">
                    <p1 class="subtitle is-size-4-desktop is-size-4-mobile">
                        <li>Completed Springpod's <a href="pdfs/Springpod.pdf">Technology Course</a></li>
                        <li>Completed Open University's <a href="pdfs/Openlearn1.pdf">UI Interface</a> and <a
                                href="pdfs/Openlearn2.pdf">Simple Coding</a> course</li>
                    </p1>
                </div>
            </div>
        </div>
        </div>
        <br>
        <div class="container">
            <div class="box">
                <h1 class="title  is-size-2-desktop is-size-2-mobile">Testimonials</h1>
                <div class="box">
                    <h1 class="title  is-size-3-desktop is-size-3-mobile">Ales Rechtorik<br><a
                            href="https://cz.linkedin.com/in/fxckdev/en?trk=org-employees" target="_blank"><i
                                class="fa-brands fa-linkedin"></i></a> <a href="https://github.com/fxck"
                            target="_blank"><i class="fa-brands fa-square-github"></i></a> <a
                            href="https://discord.com/users/114769077624373255" target="_blank"><i
                                class="fa-brands fa-discord"></i></a>
                        <a href="https://twitter.com/fxckdev_" target="_blank"><i
                                class="fa-brands fa-x-twitter"></i></a>
                    </h1>
                    <h1 class="title  is-size-4-desktop is-size-4-mobile">Product Owner of <a
                            href="https://zerops.io/">Zerops</a></h1>
                    <p1 class="subtitle is-size-4-desktop is-size-4-mobile">
                        "Edward has demonstrated a great general knowledge about programming, good common sense, as
                        well
                        as ability to create applications beyond something I’d expect from someone of his age.<br> I
                        highly
                        recommend him for any apprenticeship / summer job as I feel he’ll be a valuable addition to
                        any
                        team."
                    </p1>
                </div>
                <div class="box">
                    <h1 class="title  is-size-3-desktop is-size-3-mobile">Ruben Cranmer<br><a
                            href="https://discord.com/users/862199721585934356" target="_blank"><i
                                class="fa-brands fa-discord"></i></a></h1>
                    <h1 class="title  is-size-4-desktop is-size-4-mobile">Customer</h1>
                    <p1 class="subtitle is-size-4-desktop is-size-4-mobile">
                        "I highly recommend Edward Deakin for any coding related jobs.<br> He is a hard worker who
                        never
                        misses a deadline and gets jobs done quickly.<br> He is also very professional, communicates
                        instantly and is extremely helpful.<br> I am thoroughly impressed with him and he has become
                        an
                        essential part of my server.<br> Thank you, Edward, for your dedication to customer
                        satisfaction."
                    </p1>
                </div>
            </div>
        </div>
        <br>
        <div class="container">
            <div class="box">
                <h1 class="title  is-size-2-desktop is-size-2-mobile">Open-Source</h1>
                <div class="box">
                    <p1 class="subtitle is-size-4-desktop is-size-4-mobile">
                        This website is open source and is available <a
                            href="https://github.com/Edward-Deakin/Portfolio" target="_blank">here</a>.<br>
                        Credit is appreciated but attribution is not necessary.<br>
                        Instructions are provided on the GitHub page.
                    </p1>
                </div>
            </div>
        </div>
    </section>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-PC50XWN4WK"></script>
    <script src="scripts/googleAnalytics.js"></script>
</body>

</html>