/* Product Sans Font */
@import url('https://fonts.cdnfonts.com/css/gilroy-bold');

/* Define html & body */
html,
body {
    font-family: 'Gilroy-Medium', sans-serif;
    box-sizing: border-box;
}

.dark {
    background-color: #343a40;
    color: white
}