body {
    font-family: 'Poppins', sans-serif;
}

.betterParagraphs {
    font-size: 18px;
    line-height: 1.75;
    max-width: 600px;
    margin: 10px;
}

.image.is-128x128 {
    margin: 0 auto;
}

@media (max-width: 768px) {
    .image.is-128x128 {
      display: none;
    }
}