<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Edward Deakin</title>
    <meta property="og:title" content="Edward Deakin" />
    <meta property="og:description" content="A-Level Student · Software Developer" />
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/profilepicture.png') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bulma.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='fontawesome/css/fontawesome.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='fontawesome/css/solid.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='fontawesome/css/brands.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
  </head>
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-PC50XWN4WK"></script>
  <script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-PC50XWN4WK')
  </script>
  <body>
    <section class="section">
      <div class="container">
        <div class="columns" style="margin-top: 5%">
          <div class="column">
            <h1 class="title">
              Edward Deakin
            </h1>
            <p class="subtitle is-size-6">
              A-Level Student<br>
                Software Developer<br>
              <div class="buttons">
                <a class="button" href="{{ url_for('static', filename='pdfs/EdwardDeakinsCV.pdf') }}" target="_blank">View CV</a>
                <a class="button" href="https://platformpredict.co.uk" target="_blank">PlatformPredict</a>
              </div>
              <div class="buttons">
                <a class="button" href="mailto:deakinedward53@outlook.com"><i class="fa-solid fa-envelope"></i></a>
                <a class="button" href="https://github.com/Edward-Deakin" target="_blank"><i class="fa-brands fa-github"></i></a>
                <a class="button" href="https://discord.com/users/361479100004564995" target="_blank"><i class="fa-brands fa-discord"></i></a>
                <a class="button" href="https://www.linkedin.com/in/edward-deakin-0a4021319" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a>
              </div>
            </p>
          </div>
        </div>
      </div>
    </section>
    <section class="section" style="padding-top: 5px;">
      <div class="container">
        <div class="columns">
          <div class="column">
            <p class="subtitle isBetterParagraphs">
              I've always been passionate about technology and programming since a young age.<br/>
              My journey started with ASP.NET in Visual Studio, thanks to the guidance of my <a href="https://www.linkedin.com/in/harry-conor-lucas/" target="_blank">older relative.</a><br/>
              Today, I aspire to become a software engineer at a startup, where I can build impactful software that improves people's lives.<br/><br/>
              I am currently working on a free, 24/7 platform called <a href="https://platformpredict.co.uk" target="_blank">PlatformPredict</a> which provides fast, accurate train information - sometimes beating the departure boards themselves!<br/><br/>
              I am also currently volunteering for the <a href="https://salvationarmytrading.org.uk/" target="_blank">Salvation Army Trading Company</a> assisting in a retail space coordinating inventory alongside working with their team and customers on tills.
            </p>
          </div>
        </div>
        <br/>
        <div class="columns">
          <div class="column is-one-third">
            <div class="box" style="box-shadow: none; border: 1px solid #353a46; height: 100%;">
              <article class="media">
          <figure class="media-left">
            <p class="image is-64x64">
              <img class="is-rounded" src="{{ url_for('static', filename='images/harry.png') }}" alt="Harry Lucas">
            </p>
          </figure>
          <div class="media-content">
            <div class="content">
              <p>
                <strong>Harry Lucas</strong><br>
                Cofounder and CTO at <a href="https://phas.io" target="_blank">Phasio</a><br/><br/>
                "As a true digital native, he is well prepared for the modern world of work which is more decentralized and technically specialized than ever before."
              </p>
            </div>
          </div>
              </article>
            </div>
          </div>
          <div class="column is-one-third">
            <div class="box" style="box-shadow: none; border: 1px solid #353a46; height: 100%;">
              <article class="media">
          <figure class="media-left">
            <p class="image is-64x64 is-rounded">
              <img class="is-rounded" src="{{ url_for('static', filename='images/ales.png') }}" alt="Ales Rechtorik">
            </p>
          </figure>
          <div class="media-content">
            <div class="content">
              <p>
                <strong>Ales Rechtorik</strong><br>
                Product Owner of <a href="https://zerops.io" target="_blank">Zerops</a><br/><br/>
                "Edward has demonstrated excellent general knowledge about programming and good common sense, as well as the ability to create applications beyond what I would expect from someone of his age."
              </p>
            </div>
          </div>
              </article>
            </div>
          </div>
          <div class="column is-one-third">
            <div class="box" style="box-shadow: none; border: 1px solid #353a46; height: 100%;">
              <article class="media">
          <figure class="media-left">
            <p class="image is-64x64 is-rounded">
              <img class="is-rounded" src="{{ url_for('static', filename='images/ruben.png') }}" alt="Ruben Cranmer">
            </p>
          </figure>
          <div class="media-content">
            <div class="content">
              <p>
                <strong>Ruben Cranmer</strong><br>
                Previous Customer<br/><br/>
                "He is a hard worker who never misses a deadline and gets jobs done quickly."
              </p>
            </div>
          </div>
              </article>
            </div>
          </div>
        </div>
        </div>
      </div>
    </section>
  </body>
</html>
